{% extends 'tranai/base.html' %}
{% load static %}

{% block content %}
<!-- <center><img src="{% static 'tranai/nmt-banner.jpg' %}"></center><br> -->
<!-- <div class="center jumbotron alert-info"> -->
<!-- <div class="center jumbotron bg-light"> -->
<!-- <div class="center jumbotron bg-warning"> -->
  <div class="p-5 mb-4 bg2 rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-6 fw-bold">Tran-AI NMT</h1>
      <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
      <button class="btn btn-primary btn-lg" type="button">About</button>
    </div>
  </div>
<!-- <center><img src="{% static 'tranai/nmt-banner2.jpg' %}"></center><br> -->
{% endblock %}



<!--
  ######################################################################### README FOR EVALUATORS ############################################################################
  B.   Design and develop a fully functional software application that addresses your identified business problem or organizational need. Include each of the following attributes as they are the minimum required elements for the application:

•   one of the following application types: mobile, web, or stand-alone application (a web app is evident by browsing to http://x.com)

•   code including inheritance, polymorphism, and encapsulation (requirement satisfied in [f], line l)

•   search functionality with multiple row results and displays

•   a database component with the functionality to securely add, modify, and delete the data (requirement satisfied in [f], line l)

•   ability to generate reports with multiple columns, multiple rows, date-time stamp, and title

•   exception controls (requirement satisfied in [f], line l)

•   validation functionality (requirement satisfied in [f], line l)

•   industry appropriate security features (requirement satisfied in [f], line l) csrf/crsf

•   design elements that make the application scalable (requirement satisfied in [f], line l)

•   a user-friendly, functional GUI (a user-friendly, functional GUI is evident at http://x.com)
  ######################################################################### README FOR EVALUATORS ############################################################################
-->