{% extends 'tranai/base.html' %}
{% block content %}
<center><h2>All Users</h2></center>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Email</th>
      <th scope="col">Username</th>
      <th scope="col">Current Task</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
{% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.username }}</td>
      <td><a href="">{{user.cur_task}}</a></td> <!--% url 'show-task' user.cur_task.id %-->
      <td><a href="">Edit</a>&nbsp;&nbsp;<a href="">Delete</a></td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
