{% extends 'tranai/base.html' %}

{% block content %}
<!-- <center> -->
  <!-- <h2>Translation: <i>{{ translation }}</i></h2> -->
  <h2>Translation</h2>
  <!-- <br> -->
  <strong>Id:</strong>&nbsp;&nbsp;{{ translation.id }}<br>
  <strong>Language:</strong>&nbsp;&nbsp;{{ translation.lan }}<br>
  <strong>Translated Title:</strong>&nbsp;&nbsp;{{ translation.tran_title }}<br>
  <strong>English Translation:</strong>&nbsp;&nbsp;{{ translation.eng_tran }}<br>
  <strong>Description:</strong>&nbsp;&nbsp;{{ translation.description }}<br>
  <strong>Block Count:</strong>&nbsp;&nbsp;<i>{{ translation.blkc }}</i><br>
  <strong>Sub-block Count:</strong>&nbsp;&nbsp;{{ translation.subc }}<br>
  <strong>Sentence Count:</strong>&nbsp;&nbsp;{{ translation.senc }}<br>
  <strong>Transcription:</strong>&nbsp;&nbsp;{{ translation.xcrip }}<br>
  <strong>Translate Additions Randomized:</strong>&nbsp;&nbsp;{{ translation.li }}<br>
  <strong>Randomization:</strong>&nbsp;&nbsp;{{ translation.None }}<br>
  <strong>Document:</strong>&nbsp;&nbsp;<a href="{% url 'show-document' translation.document.id %}">{{translation.document}}</a><br>
  <strong>Publication Date:</strong>&nbsp;&nbsp;{{ translation.pubdate }}<br>
  <strong>Version:</strong>&nbsp;&nbsp;{{ translation.version }}<br>
  <!-- </center> -->
  <hr>
  <a class="btn btn-outline-primary btn-sm" href="">Edit</a> <!--% url 'update-document-translation' document.id translation.id %-->
  <a class="btn btn-outline-danger btn-sm" href="">Delete</a> <!--% url 'delete-document-translation' document.id translation.id %-->
  <a class="btn btn-outline-success btn-sm" href="{% url 'index-documents' %}">All Translations</a>
  &nbsp;
  <!-- <a class="btn btn-outline-secondary btn-sm" href="{% url 'create-document' %}">New Document</a> -->
  <!--<a class="btn btn-outline-secondary btn-sm" href="{% url 'create-document-translation' document.id %}">New Translation</a> -->
  <a class="btn btn-outline-secondary btn-sm" href="{% url 'create-task' %}">New Task</a> <!---->
  <center><h2>Tasks</h2></center>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Role</th>
        <th scope="col">Active</th>
        <th scope="col">Status</th>
        <th scope="col">CI</th>
        <th scope="col">Place</th>
        <th scope="col">TCs</th>
        <th scope="col">CCs</th>
        <th scope="col">VCs</th>
        <th scope="col">ECs</th>
        <th scope="col">TotCs</th>
        <th scope="col">#Sens</th>
        <th scope="col">VT</th>
        <th scope="col">CT</th>
        <th scope="col">TotT</th>
        <th scope="col">M TEs</th>
        <th scope="col">T TEs</th>
        <th scope="col">Z TEs</th>
        <th scope="col">N TEs</th>
        <th scope="col">TotTEs</th>
        <th scope="col">User</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
{% for task in tasks %}
      <tr>
        <td><a href="{% url 'show-task' task.id %}">{{task.id}}</a></td>
        <td>{{task.role}}</td>
        <td>{{task.active}}</td>
        <td>{{task.status}}</td>
        <td>{{task.ci}}</td>
        <td>{{task.place}}</td>
        <td></td>
        <td>{{task.ccs}}</td>
        <td>{{task.vcs}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{task.vt}}</td>
        <td>{{task.ct}}</td>
        <td></td>
        <td>{{task.majtes}}</td>
        <td>{{task.tietes}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{task.user}}</td>
        <td><a href="{% url 'update-task' task.id %}">Edit</a>&nbsp;&nbsp;<a href="{% url 'delete-task' task.id %}">Delete</a></td>
      </tr>
{% endfor %}
    </tbody>
  </table>

  <center><h2>Sentences</h2></center>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Blk</th>
        <th scope="col">Sub</th>
        <th scope="col">RSub</th>
        <th scope="col">Sen</th>
        <th scope="col">RSen</th>
        <th scope="col">Typ</th>
        <th scope="col">Tie</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
{% for sentence in sentences %}
      <tr>
        <td><a href="{% url 'show-translation-sentence' translation.id sentence.id %}">{{sentence.id}}</a></td> <!---->
        <td>{{sentence.blk}}</td>
        <td>{{sentence.sub}}</td>
        <td>{{sentence.rsub}}</td>
        <td>{{sentence.sen}}</td>
        <td>{{sentence.rsen}}</td>
        <td>{{sentence.typ}}</td>
        <td>{{sentence.tie}}</td>
        <td><a href="{% url 'update-translation-sentence' translation.id sentence.id %}">Edit</a>&nbsp;&nbsp;<a href="">Delete</a></td>
        <!----> <!--% url 'delete-translation-sentence' sentence.id %-->
      </tr>
{% endfor %}
    </tbody>
  </table>

{% endblock %}