{% extends 'tranai/base.html' %}

{% block content %}
<div class="card-body">
<!-- <center> -->
  <h5>Update Sentence</h5>

  <form action="" method="POST">
    {% csrf_token %}

    {{ form.as_p }}
    <input type="submit" value="Update Sentence" class="btn btn-secondary">
    <a class="btn btn-warning" href="{% url 'index-documents' %}" role="button">Cancel Update</a>
    <!-- <button type="button" class="btn btn-warning">Cancel Message</button> -->
    <!-- <input type="button" value="Cancel Message" class="btn btn-warning"> -->
  </form>
  <!-- </center> -->
</div>
{% endblock %}